<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>The wedding of Nicky & Nova</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The wedding of Nicky & Nova">
  <meta name="keywords" content="The wedding of Nicky & Nova">
  <meta name="author" content="VincentiusNicky">

  <%= stylesheet_link_tag "error" %>

</head>
<body>

  <div class="container">
    <div class="row">
        <div class="xs-12 md-6 mx-auto">
            <div id="countUp">
                <div class="number">Error</div>
                <div class="text">Apologize for the inconvenient</div>

                <p><a href="/invitations/books" class="btn btn-primary btn-sm">Back to Home</a></p>
            </div>
        </div>
    </div>
  </div>

</body>
</html>
