## host setup
HOST_URL=localhost
HOST_PORT=3000

## default for development
DATABASE_NAME=wedding_development
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=rootpw
DATABASE_HOST=127.0.0.1
DATABASE_POOL=10
DATABASE_PORT=5432

## default for testing
DATABASE_TEST_NAME=wedding_test
DATABASE_TEST_POOL=5
