<!-- app/views/admin/guests/index.html.erb -->

<%= stylesheet_link_tag "admin" %>

<div class="row align-items-center mb-5 mt-5">
  <div class="col-sm-12">
    <h1 class="text-center">Welcome to admin dashboard page!</h1>
  </div>
</div>

<div class="row">
  <h1 class="text-center">Coming soon....</h1>
</div>
